<div class="container">
	<div class="row">	

		<div  class="list-users" >
      <div class="col-xs-6 col-md-3" ng-repeat="pokemon in home.pokemons.results">
        <div href="#" class="thumbnail">
          <img class="img-responsive center-block"  ng-src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{$index + 1}}.png">

          <div class="caption text-center container-pokemon">
            <h2>{{ pokemon.name | uppercase}}</h2>
          </div>
        </div>
      <div>
      </div>
			
		</div>

</div>