<nav class="navbar navbar-default">
	<div class="container">
	<!-- <h1>Pokemon list</h1> -->
		<div class="navbar-header pull-left">
			<a href="#"><h2>Pokemons</h2></a>
		</div>

		<div class="pull-right">
			<ul class="nav navbar-nav">
			</ul>
		</div>
	</div>
</nav>